.profile-images-thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-thumbnail {
    text-align: center;
    margin-left: -45px;
}

.profile-thumbnail img {
    border-radius: 100px;
    border-style: solid;
    /* As propriedades border-color, border-width, width e height serão definidas dinamicamente no front-end */
}

.total-users {
    margin-top: 20px;
}

.profile-images-content {
    display: flex;
    align-content: center;
    align-items: center;
}
